#root,
.App,
html,
body{
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

*{
  box-sizing: border-box;
  
}
body{
  padding: 0px;
  margin: 0px;
}
h2,
h3,
p,
ul{
  margin: 0px;
}

ul{
  list-style: none;
}